<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>

</head>
<body>
    <h2><%= title %></h2>
    <div class = "total">
        <div class = "left">
            <div class = "user">
                <p><%= nick %>'s Page</p>
            </div>
            <div class = "myAttractions">
                <ul>
                    <li><%= attraction1 %></li>
                    <li><%= attraction2 %></li>
                    <li><%= attraction3 %></li>
                </ul>
            </div>
        </div>
        <div class = "right">

            <% if(ticket == true){ %>
                <div class = "ticket">
                    <div class = "ticket-nick"><%= nick %></div>
                    <div class = "ticket-date"><%= date %></div>
                    <div class = "ticket-head"><%= head %></div>
                    <!-- 2인일 때 띄우는 이미지 -->
                    <!-- <% //if(data[0].head == 2){ %>
                        <img src="" alt="">
                    <% //} %>  -->
                </div>
            <% }else{ %>
                <p>예약한 티켓이 없습니다!</p>
            <% } %> 
            <a href="/reserve">reserve</a>
        </div>
    </div>
</body>
<script src="/javascripts/index.js"></script>
</html>